extends layout

block content
  .card.col-lg-6.align-middle.text-white.bg-secondary
    .text-nowrap.display-4.card-header Chuck Norris API Demo
    .card-body
      p#data.lead
      button.refresh.btn.btn-dark Refresh